[*.cs]

# SA1516: Elements must be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1623: Property summary documentation must match accessors
dotnet_diagnostic.SA1623.severity = none

# SA1636: File header copyright text should match
dotnet_diagnostic.SA1636.severity = none

# SA1642: Constructor summary documentation must begin with standard text
dotnet_diagnostic.SA1642.severity = none
